.articleWindow {
    width: 50%;
    margin: 50px auto 50px;
    border-radius: 15px;
    border: 1px solid deepskyblue;
}

.articleText {
    color: black;
}

.divider {
    background-color: deepskyblue;
}
