.articleWindow {
    width: 50%;
    margin: 3vh auto 3vh;
    border-radius: 15px;
    border: 1px solid deepskyblue;
}

.articleTitle {
    color: black;
}

.subtitleBox {
    display: flex;
    flex-wrap: wrap;
    margin: -1.5vh auto 0.1vh;
    color: gray;
}

.divider {
    background-color: deepskyblue;
}
